* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5em;
}

.topicItems {
  margin: 10px;
  list-style-type: none;
  padding: 20px;
  margin-left: auto;
}

.navBarList {
  background-color: rgb(10, 10, 10);
}

.navBarList li {
  display: inline-block;
  padding: 1rem 2rem;
}

.articles {
  border: solid black;
  border-radius: 8px;
  list-style: none;
  margin: 1em;
  line-height: 150%;
  text-align: center;
  list-style-position: inside;
  padding: 20px;
}
.collapsible .content {
  background-color: #0b0b0b;
}
.collapsible .header {
  background-color: #969595;
  padding: 6px;
  cursor: pointer;
}
